.header {
font-family: 'Raleway', sans-serif;
font-size: 18px;
width: 100%;
min-height: 293px;
margin: 0 auto;
padding: 50px 50px;
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: start;
box-sizing: border-box;
}

.body {
max-width: 1100px;
margin: 0 auto;
}

.menu {
font-family: 'Raleway', sans-serif;
font-size: 18px;
margin: 0;
justify-self: start;
align-self: center;
margin-top: 9px;
text-decoration-skip-ink: none;
}

.menu_item {
display: list-item;
list-style: circle;
}

.menu_list {
display: flex;
gap: 38px;
list-style: circle;
list-style-position: inside;
}

.menu_item_home {
list-style: none;
text-decoration: none;
}

.menu_item_home a {
text-decoration: none;
}

.logo-black {
display: block;
width: 135px;
height: 90px;
justify-self: center;
align-self: center;
}

.header .location {
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: center;
text-align: left;
padding-left: 190px;
text-decoration-skip-ink: none;
font-style: normal;
font-size: 18px;
position: relative;
top: 5px;
gap: 3px;
}

.cover {
margin-bottom: 180px;
padding: 165px 50px 61px 50px;
background-image: url("../images/cover.jpg");
background-size: cover;
min-height: 757px;
position: relative;
display: flex;
flex-direction: column;
}

.overlay {
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.6);
z-index: 1;
}

h1 {
z-index: 5;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 100px;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #fff;
text-align: left;
}

.ono {
position: absolute;
top: 172px;
left: 50px;
}

.tebe {
position: absolute;
top: 305px;
left: 380px;
}

.nado {
position: absolute;
top: 440px;
left: 663px;
}

.subtitle {
position: absolute;
bottom: 61px;
word-spacing: 20px;
z-index: 5;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 22px;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fff;
text-align: center;
}

.cover_content {
position: static;
z-index: 5;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.button {
position: absolute;
bottom: 50px;
right: 50px;
width: 255px;
height: 51px;
z-index: 5;
background-color: transparent;
border: 1px solid #fff;
font-family: 'Raleway', sans-serif;
font-weight: 400;
text-transform: uppercase;
color: #fff;
font-size: 22px;
padding: 11px 30px;
outline: none;
box-shadow: none;
}

.lots {
margin-bottom: 120px;
padding: 10px 20px 50px 20px;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.lots_title {
font-family: 'Raleway', sans-serif;
font-weight: 700;
text-transform: uppercase;
font-size: 40px;
align-self: flex-start;
margin: 0 0 25px 45px;
}

.lots-card-title {
position: relative;
text-decoration: underline;
z-index: 3;
min-width: 250px;
margin-top: 9px;
margin-left: -3px;
word-spacing: 4px;
}

.lots-card-text-film {
position: relative;
z-index: 3;
font-family: 'Raleway', sans-serif;
text-transform: none;
line-height: 1.2;
font-size: 19px;
font-weight: 400;
top: -10px;
word-spacing: 1.3px;
margin-left: -5px;
}

.lots-card-text-book {
position: relative;
z-index: 3;
font-family: 'Raleway', sans-serif;
text-transform: none;
line-height: 1.25;
font-size: 19px;
font-weight: 400;
top: -8px;
margin-left: -5px;
}

.lots-card-text-picture {
position: relative;
z-index: 3;
font-family: 'Raleway', sans-serif;
text-transform: none;
line-height: 1.25;
word-spacing: 2px;
font-size: 19px;
font-weight: 400;
top: -7px;
margin-left: 5px;
max-height: 264px;
max-width: 250px;
}

.see_more {
font-family: 'Raleway', sans-serif;
text-transform: lowercase;
text-decoration-skip-ink: none;
font-weight: 400;
font-size: 20px;
margin-left: 45px;
position: relative;
top: -8px;
}

.cards {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 23px;
margin: 0 0 40px 0;
padding-right: 20px;
list-style: none;
width: 100%;
max-width: 1200px;
}

.lots__card-list-item {
max-width: 338px;
min-width: 338px;
box-sizing: border-box;
}

.card-link {
display: block;
height: 100%;
text-decoration-skip-ink: none;
color: #fff;
text-transform: uppercase;
font-size: 18px;
text-decoration: none;
}

.lots-card-film {
background-image: url("../images/card-lot-01.jpg");
position: relative;
background-size: cover;
background-position: center;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-between;
color: #fff;
width: 100%;
min-height: 596px;
padding: 40px 50px;
}

.lots-card-book {
background-image: url("../images/card-lot-02.jpg");
position: relative;
background-size: cover;
background-position: center;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-between;
color: #fff;
width: 100%;
min-height: 596px;
padding: 40px 50px;
}

.lots-card-picture {
background-image: url("../images/card-lot-03.jpg");
position: relative;
background-size: cover;
background-position: center;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-between;
color: #fff;
width: 100%;
min-height: 596px;
padding: 40px 35px;
}

.about {
display: grid;
grid-template-columns: 320px 1fr;
align-items: start;
}

.about_column_left {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}

.about_logo {
width: 240px;
height: 240px;
background-color: black;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-top: -25px;
}

.about_logo img {
display: block;
margin: auto;
width: 148px;
height: 114px;
}

.about_column_right {
box-sizing: border-box;
}

.about_title {
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
margin: 76px 63px 60px;
font-weight: 700;
font-size: 40px;
}

.about_text {
min-width: 690px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 20px;
display: flex;
flex-direction: column;
margin: 0 0 70px 0;
gap: 25px;
}

.footer {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: center;
padding: 20px 0;
}

.footer .location {
list-style: none;
font-style: normal;
display: flex;
align-items: flex-start;
flex-direction: column;
max-width: 265px;
margin-top: 40px;
margin-left: 50px;
}

.footer_location-item {
font-family: 'Raleway', sans-serif;
text-decoration-skip-ink: none;
font-weight: 400;
font-size: 18px;
list-style: none;
text-decoration: underline;
margin-top: 8px;
}

.footer_location-item_email {
font-family: 'Raleway', sans-serif;
text-decoration-skip-ink: none;
font-weight: 400;
font-size: 18px;
list-style: none;
text-decoration: underline;
margin-top: 4px;
}

.footer_location-item_address {
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 18px;
list-style: none;
text-decoration: none;
margin-top: 4px;
}

.footer_menu-link {
text-decoration-skip-ink: none;
}

.footer_menu {
display: flex;
justify-content: center;
text-transform: lowercase;
margin-top: 38px;
}

.footer_menu-list {
display:flex;
flex-direction: column;
align-items: center;
list-style: none;
}

.footer_menu-list-item {
font-family: 'Raleway', sans-serif;
font-weight: 400px;
font-size: 18px;
}

.social-media-list {
display: flex;
justify-content: flex-end;
gap: 48px;
list-style: none;
margin: 90px 50px 0 0;
}

.social-media-icon {
display: block;
width: 48px;
height: 48px;
}
