.header{
font-family: 'Raleway', sans-serif;
font-size: 18px;
width: 100%;
min-height: 293px;
margin: 0 auto;
padding: 50 50 50 50;
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: start;
justify-items: center;
box-sizing: border-box;
}

.menu {
font-family: 'Raleway', sans-serif;
font-size: 18px;
margin: 0;
padding-left: 44px;
justify-self: start;
align-self: center;
margin-top: 9px;
text-decoration-skip-ink: none;
}

.menu_item {
display: list-item;
list-style: circle;
}

.menu_list {
display: flex;
gap: 38px;
list-style: circle;
list-style-position: inside;
}

.menu_item_home {
list-style: none;
text-decoration: none;
}

.menu_item_home a {
text-decoration: none;
}

.logo-black {
display: block;
width: 135px;
height: 90px;
justify-self: center;
align-self: center;
}

.location {
max-width: 240px;
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: center;
text-align: left;
text-decoration-skip-ink: none;
padding-left: 72px;
gap: 3px;
padding-top: 10px;
font-style: normal;
font-size: 17px;
}

.cover {
margin-bottom: 180px;
padding: 165px 50px 61px 50px;
background-image: url("../images/cover.jpg");
min-height: 757px;
position: relative;
display: flex;
flex-direction: column;
}

.overlay {
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.6);
z-index: 1;
}

h1 {
z-index: 5;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 100px;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #fff;
text-align: left;
}

.ono {
position: absolute;
top: 172px;
left: 50px;
}

.tebe {
position: absolute;
top: 305px;
left: 380px;
}

.nado {
position: absolute;
top: 440px;
left: 663px;
}

.cover_content {
position: relative;
}

.subtitle {
position: absolute;
top: 514px;
word-spacing: 20px;
z-index: 5;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 22px;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fff;
text-align: center;
}

.cover_content {
position: relative;
z-index: 5;
}

.button {
position: relative;
top: 500px;
left: 745px;
width: 255px;
height: 51px;
z-index: 5;
background-color: transparent;
border: 1px solid #fff;
font-family: 'Raleway', sans-serif;
font-weight: 400;
text-transform: uppercase;
color: #fff;
font-size: 22px;
padding: 11px 30px;
outline: none;
box-shadow: none;
}

.lots {
margin-bottom: 120px;
padding: 0 50px 50px 50px;
}
h2 {

}
.cards {
margin-top: 74px;
padding: 30px;
}
.lots-card-film {
background-image: url("../images/card-lot-01.jpg");

}
.lots-card-book {
background-image: url("../images/card-lot-02.jpg");
}
.lots-card-picture {
background-image: url("../images/card-lot-03.jpg");
}
.about {
padding: 50px;
}
.column-logo {

}
.column-text-about {

}
.social_media {

}
.footer{
  padding: 30px 50px;
}